<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


<div class="row g-3">
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">

<label for="" class="form-label">PRODUCT CATEGORY</label>
<input type="text" class="form-control">


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">PRODUCT NAME</label>
        <input type="text" class="form-control">


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">

        <label for="" class="form-label">PRICE</label>
        <input type="text" class="form-control">


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">DELEAR NAME</label>
        <input type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">MANUFACTURE NAME</label>
        <input type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">BRAND</label>
        <input type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">MANUFACTURE DATE</label>
        <input type="date" class="form-control">


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">

        <label for="" class="form-label">EXPIREY DATE</label>
        <input type="date" class="form-control">


    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">



<button class="btn btn-danger">SUBMIT</button>


    </div>
</div>




        </div>
    </div>
</div>